    <div id="mainstyled">


        <main class="container-flex">
    
            <h2>ALINF informatica</h2>
    
            <div class="ewk_cont_banner">
    
            <div class="ewk_sobra">
    
            <h3>Quienes somos? ALINF</h3>
    
            <hr/>
    
            <div class="ewk_cont_banner_link">
    
                <p>Somos profesionales en reparacion y mantenimiento de PC a buenos costos y con garantia.</p>
                <p>Trabajamos con el compromiso de ofrecer la mejor asesoracion y repacacion de su computadora!</p>
    
    
    
    
            </div>
    
            </div>
    
            </div>
    
        </main>
    
        </div>