    <div id="principal">

      <main class="container-flex">

        <h2>ALINF informatica</h2>

        <div class="ewk_cont_banner">

        <div class="ewk_sobra">

        <h3>REPARACION Y MANTENIMIENTO DE PC</h3>

        <hr/>

        <div class="ewk_cont_banner_link">

          <a href="/about">Quienes somos?</a>
          <a href="/were">Ubicacion</a>
          <a href="/contact">Contacto</a>

        </div>

        </div>

        </div>


      </main>



    </div>
