 <div id="mainstyled">


    <main class="container-flex">

        <h2>ALINF informatica</h2>

        <div class="ewk_cont_banner">

        <div class="ewk_sobra">

        <h3>Donde nos ubicamos?</h3>

        <hr/>

        <div class="ewk_cont_banner_link">

            <p>Av"calle de ejemplo" Rosario, Santa Fe.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26784.843974339186!2d-60.622873649999995!3d-32.948223999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1652394041994!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

        </div>

        </div>

    </main>

    </div>